

2l_2J_withMBINadjust.log
2l_2j_onlyBsplitbins.log
2l_AllJ_with_MBINadjust.log
BFI_B1-2_2016.root
BFI_B4-2_2018.root
BFS_2L1J_Consolidation/
BFS_2L_1j2j3jconsol_TChiWZ.root
BFS_2l2J_MBINAdjust.root
BFS_New_Nominal/
BFS_TChiWZ.root
BFS_TChiWZ_MBIN2.root
BG_2016/
BG_2018/
BG_2l1j2j3j/
BG_B11/
BG_B13/
BG_B14/
BG_B15/
BG_B16/
BG_B17/
BG_B22/
BG_B41/
BG_MBIN1/
BG_MBIN2/
BG_MBIN2L2JAdjust/
Bin_Consolidation/
indict_newmbins3.csv
empty_bins_allj.log
emptybin_summary_2016.log
emptybin_summary_2018.log
mergeCat.log
mergeCat2.log
mergeCat3.log

